body {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.parentDiv {
    display: flex;
    justify-content: center;
}

.tempPanel {
    margin: 20px;
    display: block;
    max-width: 500px;
    width: 100%;
    background-color: rgb(178, 178, 178);
    border-radius: 10%;
}
#submitBtn {
    font-size: 2rem;
}
input[type="radio"] {
    height: 30px;
    width: 30px;
    vertical-align: middle;
}

.item {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 10%;
}

#inputField {
    font-size: 2rem;
    width: 200px;
}
@media (max-width: 500px) {
    #header {
        font-size: 1.5rem;
    }
    .tempPanel {
        border-radius: 20px;
    }
}
