body {
    font-size: 1rem;
}

.parentDiv {
    display: flex;
    justify-content: center;
}

.tempPanel {
    display: block;
    width: 30%;
    background-color: rgb(65, 65, 65);
    border-radius: 10%;
}

.item {
    display: flex;
    justify-content: center;
    text-align: center;
}
